.soteria-button {
    background-color: var(--amarelo);
    color: white;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 12px; /* Arredondado igual ao protótipo */
    font-size: var(--font-titulo-tamanho);
    font-weight: var(--font-titulo-peso);
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 20px;
}

/* Efeito ao passar o mouse */
.soteria-button:hover {
    background-color: #e67e22;
}

    /* Efeito ao clicar */
    .soteria-button:active {
        transform: scale(0.98);
    }

    /* Estilo para quando o botão estiver desabilitado */
    .soteria-button:disabled {
        background-color: #bdc3c7;
        cursor: not-allowed;
    }
