.soteria-button {
    background-color: var(--amarelo);
    color: white;
    padding: 16px 35px;
    border: none;
    border-radius: 12px;
    font-size: var(--font-titulo-tamanho);
    font-weight: var(--font-titulo-peso);
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    display: inline-block;
    min-width: 140px; 
    white-space: nowrap; 
    border: 2px solid transparent; 
    box-sizing: border-box;
}

.soteria-button.btn-blue {
    background: var(--gradiente-azul);
    color: white;
}

.soteria-button.btn-yellow {
    background-color: var(--amarelo);
    color: white;
}

.btn-full {
    width: 100%;
    display: block;
}

/* Efeito ao passar o mouse */
.soteria-button:hover {
    background-color: #D18A00;
}

    /* Efeito ao clicar */
    .soteria-button:active {
        transform: scale(0.98);
    }

    /* Estilo para quando o botão estiver desabilitado */
    .soteria-button:disabled {
        background-color: #bdc3c7;
        cursor: not-allowed;
    }

.soteria-button.btn-outline {
    background-color: white;
    color: var(--amarelo);
    border: 2px solid var(--amarelo);
}

    .soteria-button.btn-outline:hover {
        background-color: #fffaf0; /* Leve fundo amarelado no hover */
        border-color: #D18A00;
        color: #D18A00;
    }