.container-mapa {
    padding: 16px;
    display: flex;
    justify-content: center;
}

.estilo-mapa {
    width: 100%;
    max-width: 400px;
    height: 400px;
    /* A mágica do seu design está aqui: */
    border: 8px solid #002A4A; /* Contorno azul escuro grosso */
    border-radius: 32px; /* Arredonda as pontas */
    overflow: hidden; /* Corta o mapa que sobrar para fora da borda arredondada */
    /* Uma sombra leve opcional para destacar */
    box-shadow: 0px 8px 16px rgba(0,0,0,0.15);
}
