
/* Tira o visual feio padrão do botão do navegador */
.icone-notificacao-svg {
    background: transparent;
    border: none;
    cursor: pointer; /* Muda mouse para "mãozinha" */
    padding: 8px; /* Área de clique maior para o dedo no celular */
    transition: transform 0.2s ease, opacity 0.2s ease; /* Prepara pra animação*/
}

/* Define o tamanho da imagem de dentro (ajuste como quiser) */
.botao-imagem-svg img {
    width: 32px;
    height: 32px;
    display: block; /* Remove espaços em branco embaixo da imagem */
}

/* Efeito ao tocar/passar o mouse no sino */
.icone-notificacao-svg:hover {
    transform: scale(1.1); /* Aumenta o sino em 10% */
    opacity: 0.8;
}

/* Efeito ao clicar (apertar) */
.botao-imagem-svg:active {
    transform: scale(0.95); /* Dá uma "esmagada" rápida indicando o clique */
}
