/* Centraliza o card na tela e define o fundo claro */
.page-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin-top: 15rem;
}

/* O "Card" branco com bordas arredondadas */
.form-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.login-logo {
    align-content: center;
    max-width: 300px;
}